@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/playfair-display");
@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.cdnfonts.com/css/inter");

.approach {
  background-color: #fff9f0;
  display: flex;
  padding: 2.5rem 0rem 2.5rem 10rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
}

.approach .approach_container {
  display: flex;
  height: 22.5rem;
  padding: 1.5rem 0.5rem 1.25rem 0.5rem;
  align-items: center;
  border-radius: 11.25rem 0rem 0rem 11.25rem;
  border-top: 4px solid #4bffdf;
  border-bottom: 20px solid #4bffdf;
  border-left: 20px solid #4bffdf;
  background: #fbfaf8;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.approach .approach_image img {
  width: 17.5rem;
  height: 16.75625rem;
  flex-shrink: 0;
  border-radius: 17.5rem;
}

.approach .approach_text {
  display: flex;
  padding: 2.5rem 5rem 2.5rem 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 1 0 0;
}

@media screen and (max-width: 1300px) {
  .approach {
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .approach .approach_container {
    height: 100%;
    width: 80%;
    flex-direction: column;
    border-radius: 11.25rem;
    border: 20px solid #4bffdf;
    margin-left: 0;
  }

  .approach .approach_text {
    height: 100%;
    width: 70%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .approach .approach_image {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 17.5rem;
  }

  .approach .approach_text h1 {
    align-self: center;
  }

  .approach .approach_image img {
    align-self: center;
  }
}
