.tiny_button {
  padding: 10px 15px;
  font-size: 1rem;
  color: #34393a;
  text-transform: uppercase;
  border: 1px solid #f9cee0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.tiny_button:hover {
  background: #e0b9ca;
  border: 2px solid #e0b9ca;
}
