.journey {
  background: #fff9f0;
  display: flex;
  padding: 2.5rem 6.25rem 5rem 6.25rem;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  align-self: stretch;
}

.journey .journey_container {
  display: flex;
  padding: 3.1875rem 7.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 2.5rem;
  background: var(--Shades-White, #fff);

  /* Shadow (LG) */
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1300px) {
  .journey {
    padding: 2.5rem 2.25rem 2rem 2.25rem;
  }

  .journey .journey_container {
    padding: 3.1875rem 3rem;
    text-align: center;
  }
}
